@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');

* {
    font-family: 'Jost', sans-serif;
    margin: 0;
    color: white;
    text-align: center;

}

#form {

    padding: 10px;
}

main {
    border-bottom: 10px solid #5A96A1;
}

body {
    background-color: #53CCE1;
    border: 10px solid #5A96A1;
}

h1 {
    text-align: center;
    background-color: #E09353;
    padding: 17px;
    font-size: 50px;
    border-bottom: 10px solid #5A96A1;
}


label {
    margin: 22px;
    padding-top: 15px;
    display: block;
    font-weight: bold;
    font-size: 34px;
}

input {
    display: inline-block;
    margin: 15px;
    padding: auto 50px;
    font-size: 30px;
    color: black;
}

div .contenedor {
    display: flex;
    justify-content: center;
}

button {

    margin: 24px;
    font-size: 30px;
    background-color: #5A96A1;
    color: black;
    border: 5px solid #5A96A1;


}

footer {
    padding: 10px;
    margin: 27px;
    height: fit-content;
    height: 60vh;
}

footer h2 {
    margin-bottom: 32px;
    background-color: #5A96A1;
    padding: 10px;
    border-radius: 25px;
    border-collapse: collapse;
    font-size: 34px;

}

h3 {
    margin: 25px;
    font-size: 23px;
}



p {
    font-size: 28px;
    padding: 12px;
}

#caja {
    background-color: white;
    color: black;
    border-radius: 70px;
    padding: 15px;
    width: 537px;
    margin: 0 auto;
}

#caja h3, p {
    color: black;
}

